Node-red flow.json
[
    {
        "id": "20495f2c.32411",
        "type": "tab",
        "label": "IKEA Styrbar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64034f48.6d64a",
        "type": "mqtt in",
        "z": "20495f2c.32411",
        "name": "MQTT in",
        "topic": "domoticz/out",
        "qos": "2",
        "datatype": "json",
        "broker": "b8897d4f.7ebdc",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "589ee6c2.745e18"
            ]
        ]
    },
    {
        "id": "589ee6c2.745e18",
        "type": "switch",
        "z": "20495f2c.32411",
        "name": "Select device",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "277",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "b7cb6a7a.6fab58"
            ]
        ]
    },
    {
        "id": "69be106b.2cfb6",
        "type": "debug",
        "z": "20495f2c.32411",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8fa984b.243918",
        "type": "http request",
        "z": "20495f2c.32411",
        "name": "Off",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://ikea.<your domainname>/control?cmd=event,on_off=0",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "69be106b.2cfb6"
            ]
        ]
    },
    {
        "id": "d13fa6e7.157bf8",
        "type": "change",
        "z": "20495f2c.32411",
        "name": "Dim level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$ceil(payload.Level/20)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "c739eb45.ed9c48"
            ]
        ]
    },
    {
        "id": "c739eb45.ed9c48",
        "type": "http request",
        "z": "20495f2c.32411",
        "name": "Dim level",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://ikea.<your domainname>/control?cmd=event,dim={{{payload}}}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 920,
        "y": 340,
        "wires": [
            [
                "69be106b.2cfb6"
            ]
        ]
    },
    {
        "id": "63e8964b.11cf08",
        "type": "http request",
        "z": "20495f2c.32411",
        "name": "On",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://ikea.<your domainname>/control?cmd=event,on_off=1",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "69be106b.2cfb6"
            ]
        ]
    },
    {
        "id": "b7cb6a7a.6fab58",
        "type": "switch",
        "z": "20495f2c.32411",
        "name": "On/Off",
        "property": "payload.nvalue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "15",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b8fa984b.243918"
            ],
            [
                "63e8964b.11cf08",
                "d13fa6e7.157bf8",
                "1e6cc1b0.214a2e"
            ]
        ]
    },
    {
        "id": "1e6cc1b0.214a2e",
        "type": "change",
        "z": "20495f2c.32411",
        "name": "WarmWhite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$floor(payload.Color.ww/51)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "edcf02.dec401"
            ]
        ]
    },
    {
        "id": "edcf02.dec401",
        "type": "http request",
        "z": "20495f2c.32411",
        "name": "Warmwhite",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://ikea.<your domainname>/control?cmd=event,warmwhite={{{payload}}}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "69be106b.2cfb6"
            ]
        ]
    },
    {
        "id": "b8897d4f.7ebdc",
        "type": "mqtt-broker",
        "z": "",
        "name": "pi",
        "broker": "<IP Address MQTT server>",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]